@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

:root {
    --text-size-xs: 1rem;
    --text-size-sm: 1.1rem;
    --text-size-md: 2rem;
    --text-size-lg: 2.5rem;
    --text-size-xl: 3.5rem;
    --letter-spacing: 0.15rem;
    --color-primary: #f2f2f2;
    --color-secondary: #090909;
    --color-highlight: #960018;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nova Square', cursive;
    font-size: 62.5%;
    letter-spacing: var(--letter-spacing);
    background: rgb(9,106,121);
    background: radial-gradient(circle, rgba(9,106,121,1) 0%, rgba(0,212,255,1) 100%);
    color: var(--color-primary);
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 80rem;
    height: 55rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff10;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80%;
    background: none;
}

#card {
    background: none;
    margin-bottom: 20px;
    margin-right: 50px;
}

h1  {
    margin-bottom: 20px;     
    font-size: var(--text-size-xl);  
    background: none;
}

h2, #cardValue, #message {
    width: 100%;
    font-size: var(--text-size-lg);
    background: none;
    margin-bottom: 20px;
}

#buttons {
    display: flex;
    flex-direction: row;
    background: none;
    margin-top: 30px;
}

#higherbutton, #lowerbutton, #submitbutton, #playbutton, #samebutton {
    background: rgba(255, 255, 255, 0.797);
    border: 1px solid rgb(33, 117, 134);
    color: var( --color-secondary);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    padding: 15px;
    margin: 10px;
    border-radius: 4px;
    border: none;
    font-size: var(--text-size-md);
    cursor: pointer;
    outline: none;
}

#higherbutton:hover, #lowerbutton:hover, #submitbutton:hover, #playbutton:hover, #samebutton:hover {
    color: white;
    font-size: var(--text-size-lg);
    background: radial-gradient(circle, rgba(9,106,121,1) 0%, rgba(0,212,255,1) 100%);
    box-shadow: 0px 15px 20px rgba(0,212,255,1);
    transform: translateY(-7px);
}

/* #higherbutton:active, #lowerbutton:active, #submitbutton:active, #playbutton:active, #samebutton:active {
    transform: translateY(-1px);
} */

#cardImage {
    height: 330px;
    border-radius: 14px;
}

#response {
    margin: 0;
}

#progress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    background: none;
}

#rounds, #points {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    font-size: var(--text-size-md);
    background: none;
    margin: 1rem 6rem 6rem 6rem;
    color: var(--color-highlight);
}

    




