@media screen and (max-width: 56.25em) { 
    h2 {
        font-size: var(--text-size-md);
    }
    img {
        margin: 2rem;
    }
    #cardImage {
        height: 350px;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-left: 30px;
    }
    .btn {
        font-size: var(--text-size-sm);
        padding: 10px;
        margin-bottom: 50px;
    }
    #container {
        margin-left: 0;
    }
}
@media screen and (max-width: 43.75em) { 
    #container {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-left: 0;
        padding: 0;
    }
    #content {
        margin: 0;
    }
    img {
        margin: 0rem;
    }
    #cardImage {
        height: 180px;
        margin-top: 50px;
    }
    #rounds, #points {
        font-size: var(--text-size-sl);
        margin-bottom: 20px;
        margin-top: 0px;
    }
    #greeting  {
        font-size: var(--text-size-md);
    }
    #message {
        font-size: var(--text-size-sl);
        margin-bottom: 0px;
    }
}
/* Managing Apple product device sizes */
@media only screen and (device-width : 768px) and (device-width : 1024px) and (orientation : landscape) {
	#section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    } 
    #container {
        height: 768px;
	}
    #content {
        height: 0;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    #container {
		height: 1024px;
	}
}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
	#container {
		height: 320px;
        margin-bottom: 4rem;
	}
}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
	#container {
		height: 568px;
	}
}
/* iPhone 4 */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	#container {
		height: 320px;
	}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	#container {
		height: 480px;
	}
}
